# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the Go coverage tool
*.out

# Logs
*.log

# Dependency directories (vendor/)
vendor/

# Go workspace file
go.work
go.work.sum

# IntelliJ IDEA / GoLand
.idea/
*.iml

# Sublime Text
*.sublime-workspace
*.sublime-project

# Emacs
*~

# vim
*.swp
*.swo

# MacOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db

